* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgba(179, 176, 176, 0.644); */
    font-family: 'Anek Malayalam', sans-serif;
}
p{
    font-weight: 300;
}

header {
    background-color: white;
}

header .container {
    display: flex;
    max-width: 1637px;
    height: 54px;
    margin: 0px auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .container .container_nav_logo {
    display: flex;
    align-items: center;
}

header .container .container_nav_logo nav {
    display: flex;
}

header .container .container_nav_logo nav figure {
    margin: 0 16px 0 0;
}

header .container .container_nav_logo nav figure img {
    width: 108px;
    height: 23px;
}

header .container .container_nav_logo nav ul {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

header .container .container_nav_logo nav ul li {
    margin: 0 8px;
    list-style: none;
}

header .container .container_nav_logo nav ul li a {
    text-decoration: none;
    color: black;
    transition: 0.1s;
}

header .container .container_nav_logo nav ul li a:hover{
    border-bottom: 2px solid;
    transition: 0.1s;
}

header .container_nav_right {
    display: flex;
    align-items: center;
}

header .container_nav_right ul {
    display: flex;
}

header .container_nav_right ul li {
    margin: 0 8px;
    list-style: none;
}

header .container_nav_right ul li a {
    text-decoration: none;
    color: black;
    transition: 0.1s;
}

header .container_nav_right ul li a:hover{
    border-bottom: 2px solid;
    transition: 0.1s;
}

header .container_nav_right li a img {
    width: 14px;
    height: auto;
    margin: 0 0 0 4px;
}

header .container_nav_right ul img {
    width: 17px;
    height: 17px;
    margin: 0 0 0 4px;
}


.container_content {
    /* max-width: 1300px; */
    margin: 0 auto;
}

.container_content .container_background_img {
    background-image: url("./img/Captura\ de\ tela\ de\ 2022-06-12\ 15-30-15.png");
    height: 572px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;

}

.container_content .container_background_img article {
    width: 24%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-left: 101px;
}

.container_content .container_background_img article h1 {
    margin: 0 0 20px;
    font-size: 37px;
    color: white;
}

.container_content .container_background_img article p {
    line-height: 21px;
    font-size: 17px;
    color: white;
}

.container_content .container_background_img article a {
    margin: 20px 0 0 0;
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 8px 13px;
    border: 1px solid transparent;
    background-color: #0067b8;
    border-radius: 3px;
    transition: 0.5s;
}

.container_content .container_background_img article a:hover {
    background-color: #097cd4;
    transition: 0.5s;
}

.container_link_img {
    display: flex;
    justify-content: center;
    max-width: 1409px;
   
    margin: 0px auto;
}

.container_link_img a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px 29px;
    font-weight: 600;
    margin: 1px;
    color: #0067b8;
    
}

.container_link_img a img {
    width: 40px;
    height: 40px;
    margin-bottom: 12px;

}


.container_cards{
    margin-bottom: 40px;
}
.container_cards .card_link{
    display: flex;
    flex-wrap: wrap;

    max-width: 1637px;
    margin: 0 auto;

}
.container_cards .card_link article{
    width: 406px;
    height: 448px;
}
.container_cards .card_link article figure{}
.container_cards .card_link article figure img{
    width: 382px;
    height: 214px;
}
.container_cards .card_link article main{}
.container_cards .card_link article main h1{
    margin-bottom: 12px;
}
.container_cards .card_link article main p{
    margin-bottom: 15px;
}
.container_cards .card_link article main div{}
.container_cards .card_link article main div a{
    text-decoration: none;
    color: #0067b8;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}
.container_cards .card_link article main div a img{
    width: 18px;
    height: 16px;
}


.container_background_img2{
    background-image: url(./img/Captura\ de\ tela\ de\ 2022-06-16\ 17-39-25.png);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1637px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.container_background_img2 article{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 101px;
}
.container_background_img2 article h1{
    margin: 0 0 20px;
    font-size: 37px;
    color: black;
    line-height: 43px;
}
.container_background_img2 article p{
    line-height: 21px;
    font-size: 17px;
    color: black;
}
.container_background_img2 article a{
    margin: 20px 0 0 0;
    text-decoration: none;
    font-size: 18px;
    color: white;
    width: 122px;
    padding: 8px 14px;
    border: 1px solid transparent;
    background-color: #0067b8;
    border-radius: 3px;
}

.container_background_img2 article a:hover{
    background-color: #096cb8;
}


.container_cards_top_footer{}
.container_cards_top_footer header{}
.container_cards_top_footer header h1{
    max-width: 1637px;
    margin: 0 auto 15px;
    font-size: 37px;
}
.container_cards_top_footer .card_top_footer{
    display: flex;
    max-width: 1637px;
    margin: 0 auto;
}
.container_cards_top_footer .card_top_footer article{
    width: 406px;
    height: 448px;
}
.container_cards_top_footer .card_top_footer article figure{}
.container_cards_top_footer .card_top_footer article figure img{
    width: 382px;
    height: 214px;
}
.container_cards_top_footer .card_top_footer article main{}
.container_cards_top_footer .card_top_footer article main h3{
    margin-bottom: 12px;
}
.container_cards_top_footer .card_top_footer article main p{
    margin-bottom: 15px;
}
.container_cards_top_footer .card_top_footer article main .card_link_button{}
.container_cards_top_footer .card_top_footer article main .card_link_button a{
    text-decoration: none;
    color: #0067b8;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}
.container_cards_top_footer .card_top_footer article main .card_link_button a img{
    width: 18px;
    height: 16px;
}





/*header{
    display: flex;
    justify-content: space-around;
    margin: 0 auto; 
   /*  width: 1264px;
    height: 54px;
  /*   max-width: 100%;
    background-color: white;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header .container_nav_logo{
    display: flex;
    align-items: center;
}
header .container_nav_logo nav{
    display: flex;
}
header .container_nav_logo nav figure{
    margin-right: 40px;
}
header .container_nav_logo nav figure img{
    width: 108px;
    height: 23px;
}
header .container_nav_logo nav ul{
    display: flex;
    align-items: center;
}
header .container_nav_logo nav li{
    list-style: none;
    margin: 0 14px;
}

header .container_nav_logo nav li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}


header .container_nav_right{
    display: flex;
    align-items: center;
}
header .container_nav_right ul{
    display: flex;
    align-items: center;
}
header .container_nav_right li{
    list-style: none;
    margin: 0 14px;
}
header .container_nav_right li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

header .container_nav_right li a img{
    width: 14px;
    height: auto;
    margin: 0 0 0 4px;
}

header .container_nav_right ul img{
    width: 14px;
    height: auto;
    margin: 0 0 0 4px;
}